/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* CSS RESET by Josh Comeau,
url: https://www.joshwcomeau.com/css/custom-css-reset/
*/

header {
  padding: 25px;
  border-bottom: 5px solid black;

}

nav {
  width: 100%; 
  display: flex;
  justify-content: space-evenly;
}

nav > button {
  font-size: 24px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid black;
  padding: 15px;
}

.project-style-first {
  display: flex;
  align-items: center;
}

.project-style-first > button {
  margin-right: 25px;
}


.short-delete-task-button {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.non-visible {
  display: none;
}

.folder {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid black;
}

.common-folder {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  width: 150px;
  border-radius: 15px;
  border: 1px solid plum;
}

.priority-level {
  display: flex;
  align-items: center;
  font-size: 24px;
}

 .priority-level > a {
  padding-left: 15px;
}

.priority-form:not(.non-visible) {
  display: flex;
}

.priority-form {
  padding-left: 15px;
}

.priority-form > select {
  margin-right: 15px;
}

.task-view {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
}

/*
.priority-level-change > button {
  width: 75px;
}

.sep-one, .sep-two {
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 10px;
} */

